<div class="container">
    @if (!isCreateProject) {
        <div class="add-block">
            <p class="label">My projects</p>
            <div
              class="button tools-btn"
              (click)="isCreateProject = true;">
              +
            </div>
        </div>
        <div class="items">
          @for (project of projects; track project.id) {
              <div
                class="item"
                [ngClass]="{'choice-item' : selectedProject === project}"
                (click)="onSelectedProject(project)"
                (contextmenu)="onContextMenu($event, project)">
                @if (isEditProject && contextMenuProject?.id === project.id) {
                  <div class="edit-block">
                      <input
                        class="input"
                        type="text"
                        [(ngModel)]="editTextProject" />
                      <div
                        class="button tools-btn button-setting"
                        (click)="editProject()">
                        ✔
                      </div>
                      <div
                        class="button tools-btn button-setting"
                        (click)="cancelEditProject($event)">
                        ❌
                      </div>
                  </div>
                } @else {
                    <span>{{project.title}}</span>
                }
              </div>
          } @empty {
              <div class="info-label">
                  <p>You have no projects...</p>
              </div>
          }
        </div>
    } @else {
        <app-add-project-form (responseAddProject)="responseAddProject($event)"></app-add-project-form>
    }
</div>


@if (contextMenuProject) {
  <app-context-menu
    [contextMenuCoords]="contextMenuCoords"
    (editElement)="onIsEditProject()"
    (deleteElement)="deleteProject()">
  </app-context-menu>
}
