.container {
    display: flex;
    color: var(--main-color-text-2);
    letter-spacing: 0.5px;
    margin: 10px;
}

.items {
    height: 650px;
    overflow-x: auto;
    padding: 5px;
    margin-top: 10px;
}

.label {
    font-size: 1.15em;
}

.info-label {
    font-style: italic;
    margin-top: 10px;
    font-size: 0.95em;
}

.add-block {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.button-setting {
    width: 30px;
    padding: 0;
    text-align: center;
}

.edit-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-block div {
    margin-left: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-color-border);
    border-radius: 10px;
    padding: 12px 12px 12px 12px;
    margin-top: 10px;
    width: 100%;
}

.item {
    border: 1px solid var(--main-color-border);
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
}
.item:hover,
.choice-item {
    color: var(--hover-color-text);
}
