<section>
    <div class="container">
        @if (!isCreateProject) {
            <div class="add-block">
                <p class="label">My projects</p>
                <div class="button add-btn" (click)="isCreateProject = true;">+</div>
            </div>
            @for (project of projects; track project.id) {
                <div
                  class="item"
                  [ngClass]="{'choice-item' : selectedProject === project}"
                  (click)="onSelectedProject(project)">
                    <span>{{project.title}}</span>
                </div>
            } @empty {
                <div class="info-label">
                    <p>You have no projects...</p>
                </div>
            }
        } @else {
            <app-add-project-form (successAddProject)="successAddProject($event)"></app-add-project-form>
        }
    </div>
</section>
