main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #43484e;
    padding: 10px;
}

.header-text {
    color: var(--main-color-text);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-text span {
    font-size: 1.2em;
}

header, .user_auth {
    display: flex;
    justify-content: space-between;
}

.content {
    flex: 1;
}
