section {
    margin: 0 auto;
    max-width: 600px;
}

input[type="date"],
input[type="time"],
.priority-block select {
    color: var(--main-color-text);
    background-color: var(--main-color-bg);
    border: 2px solid var(--main-color-border-2);
}

.priority-block {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.priority-block select {
    padding: 7px;
    margin-left: 10px;
    flex: 1;
}
