@if (usersService.isAuthorizedUser()) {
    <section>
        <app-filter-panel
          (searchTextChanged)="searchText = $event"
          (searchByValueChanged)="searchByValue = $event">
        </app-filter-panel>
        <div class="main">
            <app-list-projects (projectSelected)="onProjectSelected($event)"></app-list-projects>
            <app-list-tasks
              [selectedProject]="selectedProject"
              [searchText]="searchText"
              [searchByValue]="searchByValue">
            </app-list-tasks>
        </div>
    </section>
}
