section {
    margin: 15px;
    margin-left: 25px;
    margin-top: 23px;
    color: var(--main-color-text-2);
}

.tasks-block {
    width: 100%;
}

.title {
    text-decoration:underline;
    font-style: italic;
}

.table-wrapper {
    overflow-x: auto;  
}

.table,
.table th,
.table td,
caption {
    color: var(--main-color-text-2);
}

tr:hover > td {
    cursor: default;
    color: var(--hover-color-text);
}

.add-btn {
    width: fit-content;
    margin-bottom: 10px;
}
