section {
    margin: 15px;
    margin-top: 20px;
    color: var(--main-color-text-2);
}

.tasks-block {
    width: 450px;
}

.table-wrapper {
    overflow-x: auto;   
}

.table,
.table th,
.table td,
caption {
    color: var(--main-color-text-2);
}
